body {
  padding-top: 85px;
  padding-right: 10px;
  margin: 0px;
  background-color: rgb(214, 226, 227);
  font-family: "Akshar", sans-serif;
}
nav {
  height: 70px;
  width: 100%;
  box-sizing: border-box;
  background-color: black;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 999;
}

.menu {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  margin: 20px;
  align-items: center;
}
.menu li {
  padding: 10px;
}
.menu li a {
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(25, 157, 166, 0.993);
  letter-spacing: 2px;
  transition: 0.5s;
  font-style: italic;
  font-weight: bold;
}

.menu li a:hover {
  color: rgb(250, 94, 10);
}
.search-div {
  position: relative;
}
.search-div i {
  top: 6px;
  right: 25px;
  position: absolute;
}
.search-box {
  font-size: 18px;
  height: 22px;
  width: 400px;
  border-radius: 10px;
  transition: 0.5s;
  font-style: italic;
  font-weight: bold;
  padding-left: 20px;
}
.search-box:hover {
  background-color: rgb(255, 236, 219);
}

.logo {
  width: 60px;
}

.heading {
  font-size: 50px;
  text-shadow: -3px -3px 8px rgb(53 32 38);
  text-align: center;
  color: rgba(0, 0, 0, 153.5);
  transition: 1s;
}
.heading:hover {
  color: rgb(116, 36, 42);
}
.p1 {
  text-align: justify;
  font-size: 20px;
  transition: 1s;
  margin-left: 50px;
}
.p1:hover {
  color: rgb(245, 60, 9);
}
.img1 {
  width: 200px;
  float: right;
  padding: 10px;
}

.div1 {
  background-color: rgb(22, 189, 167);
  height: 150px;
  width: 150px;
  display: inline-block;
  margin-left: 50px;
  transition: 0.5s;
}
.div1:hover {
  background-color: coral;
}

.div2 {
  height: 150px;
  width: 150px;
  background-color: rgb(90, 101, 141);
  display: inline-block;
  margin-left: 50px;
  transition: 0.5s;
}
.div2:hover {
  background-color: coral;
}
.img2 {
  width: 100px;
  margin-left: 25px;
  margin-top: 40px;
}
.img3 {
  width: 100px;
  margin-left: 25px;
  margin-top: 40px;
}

p {
  text-align: justify;
  font-size: 20px;
  transition: 1s;
  margin-left: 50px;
}
p:hover {
  color: rgb(245, 60, 9);
}
table {
  margin: 50px auto;
}
tr,
th,
td {
  color: rgb(11, 58, 58);
  border: solid rgb(59, 5, 5) 1px;
  padding: 5px;
}
tr,
th,
td:hover {
  color: orangered;
}
.big-box {
  height: 120px;
  width: 80%;
  border: 1px solid rgba(49, 248, 5, 0.934);
  display: flex;
  flex: 1;
  transition: 0.5s;
  margin-left: auto;
  margin-right: auto;
}
.big-box:hover {
  background-color: rgb(22, 61, 61);
}
.box {
  height: 100px;
  flex: 1;
  background-color: rgb(255, 219, 219);
  margin: 5px;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  border: 1px solid red;
  border-radius: 5px;
}
.box:hover {
  background-color: darkred;
}
.box:after {
  content: "";
  height: 50px;
  width: 50px;
  background-color: rgb(56, 148, 13);
  position: absolute;
  top: 25px;
  left: -50px;
  transition: 1s;
}
.box:hover:after {
  background-color: aliceblue;
  top: 25px;
  left: 0px;
  border-radius: 5px;
}
.box2 {
  height: 100px;
  width: 100px;
  background-color: white;
  transition: 0.5s;
  margin: auto;
  position: relative;
  overflow: hidden;
  border: 1px solid red;
  border-radius: 5px;
}

@media screen and (max-width: 700px) {
  body {
    background-color: rgb(155, 199, 199);
    font-style: italic;
  }
}
.box11 {
  height: 100px;
  display: flex;
  border: 1px solid rgb(255, 0, 0);
  width: 80%;
  height: 90px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.box22 {
  border: 1px solid blue;
  margin: 5px;
  border-radius: 5px;
  background-color: chartreuse;
  flex: 1;
}
.box22:hover {
  background-color: rgba(211, 236, 24, 0.744);
}
@media screen and (max-width: 500px) {
  .box22 {
    height: 50px;
  }
  .box11 {
    height: 60px;
  }
}

.box-a1 {
  width: 80%;
  border: 1px solid black;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.mini-box {
  height: 80px;
  flex: 1;
  background-color: rgb(15, 172, 109);
  margin: 2.5px;
}
@media screen and (max-width: 360px) {
  .box-a1 {
    flex-direction: column;
  }
}
.mini-box {
  flex: auto;
}
.from-h1 {
  letter-spacing: 3px;
  text-shadow: 3px -3px 6px #9e9191;
  color: rgba(110, 0, 0, 0.993);
  margin: 50px auto;
  padding-bottom: 20px;
  height: 30px;
  max-width: 440px;
  text-align: center;
  border-bottom: 3px solid black;
  font-size: 20px;
}
@media screen and (max-width: 360px) {
  .from-h1 {
    font-size: 14px;
  }
}

form {
  max-width: 400px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 50px auto;
  background-color: rgb(217, 234, 234);
}
.input-group {
  width: 100%;
  position: relative;
}
.input-group input:focus {
  outline: none;
}

.input-group i {
  top: 20px;
  left: 5px;
  position: absolute;
  font-size: 20px;
}
.input-group input {
  background-color: white;
  height: 35px;
  width: 100%;
  margin: 15px auto;
  padding-left: 30px;
  box-sizing: border-box;
  border-radius: 5px;
  transition: 0.5s;
  font-size: 20px;
  border: none;
  border-bottom: 3px solid black;
}
form input:hover {
  background-color: rgb(255, 236, 219);
}
::placeholder {
  font-size: 18px;
  font-style: italic;
  color: black;
}
form button {
  margin-left: 30px;
  font-size: 18px;
  font-style: italic;
  padding: 6px 12px;
  border-radius: 5px;
  margin-top: 20px;
  color: red;
  background-color: rgb(219, 228, 221);
}
form button:hover {
  background-color: rgb(34, 142, 12);
  color: black;
}
.section-a {
  background-image: url("https://media.istockphoto.com/photos/forest-wooden-table-background-summer-sunny-meadow-with-green-grass-picture-id1353553203?b=1&k=20&m=1353553203&s=170667a&w=0&h=QTyTGI9tWQluIlkmwW0s7Q4z7R_IT8egpzzHjW3cSas=");

  background-size: cover;
  background-position: center;
  background-color: rgba(90, 87, 87, 0.8);
  background-blend-mode: overlay;
  height: 700px;
  max-width: 70%;
  margin: 50px auto;
  position: relative;
  animation-name: saim1;
}

.div-a {
  background-image: url(https://wallpaperaccess.com/full/775987.jpg);
  background-size: cover;
  width: 200px;
  height: 200px;
  background-color: aqua;
  animation-name: Saim-a;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
@keyframes Saim-a {
  0% {
    background-color: rgb(215, 171, 114);
    top: 0px;
    left: 0px;
    transform: rotate(0deg);
  }
  25% {
    left: 400px;
    top: 0px;
    background-color: brown;
  }
  50% {
    left: 400px;
    top: 400px;
    background-color: cadetblue;
  }
  75% {
    top: 400px;
    left: 0px;
    background-color: rgb(75, 94, 24);
  }

  100% {
    background-color: rgb(232, 227, 92);
    top: 0px;
    left: 0px;
    transform: rotate(360deg);
  }
}
.div-b {
  background-image: url(https://wallpaperaccess.com/full/775987.jpg);
  background-size: cover;
  width: 200px;
  height: 200px;
  background-color: aqua;
  animation-name: Saim-b;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
@keyframes Saim-b {
  0% {
    background-color: rgb(215, 171, 114);
    top: 0px;
    left: 0px;
    transform: rotate(0deg);
  }
  25% {
    left: 0px;
    top: 400px;
    background-color: brown;
  }
  50% {
    left: 400px;
    top: 400px;
    background-color: cadetblue;
  }
  75% {
    top: 0px;
    left: 400px;
    background-color: rgb(75, 94, 24);
  }

  100% {
    background-color: rgb(232, 227, 92);
    top: 0px;
    left: 0px;
    transform: rotate(360deg);
  }
}
.div-c {
  background-image: url(https://scontent.fjsr1-1.fna.fbcdn.net/v/t39.30808-6/280393946_3152562818393845_893267248403578887_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeHlONpa-FfSFFnaJNV4XRQ9QA-LeZpk3tdAD4t5mmTe1w1c-w3C4P4rCYHq1TU5dqPd8Y1wCTx_R_vOqi3qioCS&_nc_ohc=ZCxB8w59MwYAX9-r761&_nc_zt=23&_nc_ht=scontent.fjsr1-1.fna&oh=00_AT8u2obymk5ShSuolnKZ4hq8ee5a63JJeJINwY1xRU-5Yw&oe=6296D676);
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 200px;
  left: 200px;
  opacity: 0.5;
}

.scn1 {
  width: 450px;
  text-align: justify;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 22px;
}
